.main-content {
  text-align: center;
  padding: 1rem;
}

::ng-deep {
  .ag-theme-material .ag-header-cell-label {
    justify-content: center;
  }

  .ag-header-row {
    background-color: #eeeeee;
  }
}
