<button mat-icon-button class="toggle-button" [ngClass]="{'opened': opened, 'closed': !opened}"
    (click)="toggleSideNav()">
    <mat-icon>{{ opened ? 'arrow_back_ios' : 'arrow_forward_ios' }}</mat-icon>
</button>

<div class="vertical-line" [ngClass]="{'hide': opened, 'show': !opened}"></div>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
        <mat-nav-list>
            <nav-item icon="home" label="Home" routerLink="/" />
            <nav-item icon="info" label="About" routerLink="/about" />
            <nav-item icon="menu" label="Menu" [children]="[
                { icon: 'subdirectory_arrow_right', label: 'Home', routerLink: '/' },
                { icon: 'subdirectory_arrow_right', label: 'About', routerLink: '/about' }
              ]" />
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content />
    </mat-sidenav-content>
</mat-sidenav-container>