<mat-accordion>
    <!-- Github Panel -->
    <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header [collapsedHeight]="'5rem'" [expandedHeight]="'5rem'">
            <mat-panel-title>
                <fa-icon [icon]="faGithub" size="2x" />
                <span>Github</span>

                <div class="icons">
                    <fa-icon matTooltip="Lasy sync was completed successfully"
                        *ngIf="githubIntegration" [icon]="faCheckCircle" size="lg" class="success-icon" />
                    <fa-icon *ngIf="githubIntegration"
                        matTooltip="Resync your account for latest updates" (click)="reconnectGithub($event)"
                        [icon]="faLink" size="lg" />
                </div>
            </mat-panel-title>

            <mat-panel-description *ngIf="githubIntegration">
                <a *ngIf="githubIntegration" href="{{ githubIntegration.profileUrl }}" target="_blank"
                    matTooltip="Open Profile in new Tab">
                    <p>{{ githubIntegration.username }} ({{ githubIntegration.githubId }}) Last synced:
                        {{ githubIntegration.updated_at_formatted }}
                    </p>
                </a>

                <p>Sync Type: Full</p>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="githubIntegration; else connectButton">
            <div class="remove-button">
                <button mat-raised-button matTooltip="This will completely remove all sync data from our server"
                    color="warn" (click)="handleRemoveIntegrations()"><mat-icon>delete</mat-icon>
                    Remove</button>
            </div>
        </ng-container>

        <ng-template #connectButton>
            <div class="connect-button">
                <a matTooltip="You will be redirected to github, to show organization and its repositories you must grant permissions from organizations section."
                    href="{{ connectionUrl }}" mat-raised-button color="primary"><mat-icon>link</mat-icon>
                    Connect
                </a>
                <p>Connect Sredio to Github</p>
            </div>
        </ng-template>

        <repositories-grid *ngIf="githubIntegration;" />
    </mat-expansion-panel>
</mat-accordion>